In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
simta = [0, 0.3, 0.5, 0.7, 1]
prior = [0.05, 0.1, 0.7, 0.1, 0.05]
posteriors = []

def likelihood(x, y, p):
    return (p**x)*((1-p)**y)

In [37]:
curr_prior = prior
posteriors = []
for x,y in [(2,1), (2,4), (3,5)]:
       
    posterior = [likelihood(x, y, simta[j]) * curr_prior[j]  for j in range(len(simta))]
    
    posterior = [posterior[j] / sum(posterior) for j in range(len(posterior))]
    
    posteriors.append(posterior)
    curr_prior = posterior

In [38]:
pd.DataFrame(posteriors)

     0         1         2         3    4
0  0.0  0.058065  0.806452  0.135484  0.0
1  0.0  0.087174  0.875466  0.037360  0.0
2  0.0  0.102843  0.889062  0.008095  0.0

In [25]:
curr_prior = prior
n = 1
posteriors_n = []
posterior = [likelihood(n, simta[j]) * curr_prior[j] for j in range(len(simta))]
posteriors_n.append(posterior)

posterior_n = [posterior[j] / sum(posterior) for j in range(len(posterior))]
posteriors_n.append(posterior_n)

posterior = [likelihood(n, simta[j]) * posterior_n[j] for j in range(len(simta))]
posteriors_n.append(posterior)

posterior_n = [posterior[j] / sum(posterior) for j in range(len(posterior))]
posteriors_n.append(posterior_n)

In [26]:
pd.DataFrame(posteriors_n)

     0         1         2         3         4
0  0.0  0.030000  0.350000  0.070000  0.050000
1  0.0  0.060000  0.700000  0.140000  0.100000
2  0.0  0.018000  0.350000  0.098000  0.100000
3  0.0  0.031802  0.618375  0.173145  0.176678